<ul class="nav flex-column">
    <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" routerLink="/">Give Consent</a>
    </li>
    <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="/details">Consent Collector</a>
    </li>
</ul>
