<form class="mt-3" #consentForm="ngForm" (ngSubmit)="onSubmit(consentForm)">
    <div class="row">
        <div class="col-md-4 col-lg-3 ml-auto">
            <div class="form-group">
                <input type="text" class="form-control" name="fullName" placeholder="Name" [(ngModel)]="user.fullName"
                    required #userFullName="ngModel"
                    [ngClass]="{'is-invalid': userFullName.errors && userFullName.touched }">
                <div class="invalid-feedback" [hidden]="!userFullName.errors?.required ">
                    Name is required
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-3  mr-auto">
            <div class="form-group">
                <input type="email" class="form-control" name="email" placeholder="Email Address"
                    [(ngModel)]="user.email" required #userEmail="ngModel"
                    [ngClass]="{'is-invalid': userEmail.errors && userEmail.touched }"
                    pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?">
                <div class="invalid-feedback" [hidden]="!userEmail.errors?.required ">
                    Email is required
                </div>
                <div class="invalid-feedback" [hidden]="!userEmail.errors?.pattern">
                    Please enter a valid email address
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <label class="ml-auto mr-auto">I agree to</label>
    </div>
    <div class="rom mt-3">
        <div class="col-md-8 col-lg-6 card ml-auto mr-auto">
            <div class="card-body">
                <div class="form-check" *ngFor="let consent of user.consents;">
                    <input class="form-check-input" type="checkbox" id="consent{{consent.id}}"
                        name="consent{{consent.id}}" value="" id="defaultCheck1" [(ngModel)]="consent.checked" (change)="checkSelected()">
                    <label class="form-check-label" for="consent{{consent.id}}">
                        {{consent.description}}
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <button class="btn btn-primary ml-auto mr-auto" [disabled]="!consentForm.valid || !(selectedCheckboxes.length > 0)">
            Give consent
        </button>
    </div>
</form>
