<nav class="navbar navbar-expand navbar-dark bg-primary">
    <div class="container-fluid">
        <a routerLink="/" class="navbar-brand">Didomi</a>
    </div>
</nav>
<div class="container-fluid" style="height: 100%;">
    <!-- <app-users></app-users> -->
    <div class="row" style="height: 100%;">
        <div class="col-sm-12 col-md-3 col-lg-2 bg-dark">
            <app-navbar></app-navbar>
        </div>
        <div class="col-sm-12 col-md-9 col-lg-10">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>