<div class="row mt-3" *ngIf="users?.length > 0">
  <div class="col-md-10 ml-auto mr-auto">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">email</th>
          <th scope="col">consent given to</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <th scope="row">{{user.fullName}}</th>
          <td>{{user.email}}</td>
          <td>{{getCheckedConsents(user.consents)}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<nav aria-label="Page navigation example" *ngIf="users?.length > 0">
  <ul class="pagination justify-content-center">
    <li class="page-item" [ngClass]="{disabled: page == 1}">
      <a class="page-link" (click)="gotoPrevious()" tabindex="-1">Previous</a>
    </li>
    <li class="page-item" *ngFor="let currentPage of pages" [ngClass]="{active: this.page == currentPage}"><a
        class="page-link" (click)="getCurrentPageData(currentPage)">{{currentPage}}</a></li>
    <li class="page-item" [ngClass]="{disabled: page == totalPages}">
      <a class="page-link" (click)="gotoNext()">Next</a>
    </li>
  </ul>
</nav>
<p *ngIf="!users">Loading Users ......</p>
<p *ngIf="users.length == 0">No Users to display</p>